<div class = "container-parent"> 

  <div class="modal fade" tabindex="-1" role="dialog" id= "edit-topcard-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Intro</h4>
        </div>
        <div class="modal-body">

          <%= form_for @user_info, url: profile_path, :html => { :multipart => true } do |f| %>
            
            <div class = "form-group">
              <%= f.label :headline %>
              <%= f.text_area :headline, class: "form-control" %>
            </div>  
            
            <div class = "form-group">
              <%= f.label :country %>
              <%= f.text_field :country, class: "form-control" %>
            </div>  
            
            <div class = "form-group">
              <%= f.label :state %>
              <%= f.text_field :state, class: "form-control" %>
            </div>  
            
            <div class = "form-group">
              <%= f.label :summary %>
              <%= f.text_area :summary, class: "form-control" %>
            </div>
            
            <div class = "form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control" %>
            </div>    
            
            <div class="modal-footer">
              <div class = "form-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= f.submit "Save Changes", class: 'btn btn-primary' %>
              </div>
            
            </div> <!-- modal footer end -->
            
          <% end %> <!-- form_for end -->

        </div> <!-- modal body end -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class = "main">

    <div class = "m-item bg-section"></div>
    
    <div class = "m-item topcard">
      
      <!-- This is where the edit btn for the topcard sec is -->
      <div class = "edit-topcard">
        <a class= "btn btn-default btn-modal" type="button" data-toggle="modal" data-target="#edit-topcard-modal" href="#">Edit</a>
      </div>
      
      <div class='general-info'>
        <h3 id='name-field'> <%=@user.first_name%> <%=@user.last_name%> </h3>
        <h4 id="headline-field"> <%= @user.user_info.headline %> </h4> 
        <h4> Education </h4> <!-- This is a select from education model options-->
        <h5> <%= @user.user_info.country%>, <%= @user.user_info.state%> </h5>
      </div>
      
      <div class= "summary-container">
        <p> <%= @user.user_info.summary %></p>
      </div>
      
    </div>
    
    <div class = "m-item work-sec">
      <h4>Work Experience </h4>
      <h5> Title </h5>
      <h5> Company </h5>
      <h5>Location</h5>
      <h5>From: </h5>
      <h5>Currently work here?</h5>
      <h5> Description </h5>
      
    </div>
    
    <div class = "m-item vis-sec">
      <h5>Who's viewed your profile</h5>
      <h5> Views of your posts in the feed</h5>
    </div>
    
    <div class = "m-item ed-sec">
      <h5>Education</h5>
      <h4> School name</h4>
      <h5> Degree type and Field of study </h5>
    </div>
    
    <div class = "m-item skls-sec">
      <h5>Featured Skills</h5>
      <h5> List of skills </h5>
    </div>
    
    <div class = "m-item acp-sec">
      <h4> Accomplishments </h4>
      <h5> Languages </h5>
      <h5> Certifications </h5>
      <h5> Projects </h5>
    </div>
    
    <div class = "m-item intrsts-sec">
      <h4> Interests</h4>
      <h5> Bunch of stuff here... </h5>
    </div>
    
  </div>
  
  <div class = "right-column">
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    
  </div>  
  

</div>