<div class = "container-parent"> 
  <!-- render modal -->
  <%= render "base_modal" %>

  <div class = "main">
    <!-- BG div... -->
    <div class = "m-item bg-section"></div>
    
    <!-- Intro div-->
    <div class = "m-item topcard">
      
      <!-- Intro btns -->
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class = 'intro-edit-btn'>
          <%= link_to edit_profile_path(@user), remote: true, :class => 'btn btn-default' do %>
            <i class='glyphicon glyphicon-pencil'></i>
          <% end %>
        </div>
      <% end %>
      
      <!-- Intro Render -->
      <div id= "profiles">  
        <%= render partial: "user_info", object: @user_info %>
      </div>  
    </div>
    
    <!-- Work div-->
    <div class = "m-item work-sec">
      <div class="new_wk_btn section-header">
        
        <h4>Work Experience</h4>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to new_work_path, remote: true, class: "btn btn-default" do %>
            <i class='glyphicon glyphicon-plus'></i>
          <% end %>
        <% end %>  
      
      </div>      
      
      <!-- This way I don't need to instantiate a Work entry and the page will not break if user
      jumps out of user registration... -->
      <% if @works != nil %>
        <div id="works">
          <!-- Funny enough, this renders the work partial and makes the records from the work 
          var in the profile/show controller available to be used in the partial in the form work.column.
          Be aware that rails assumes path and partial name based on the model offered by the var -->
          <%= render @works %>
        </div>
      <% end %>
      
    </div>
      
    <!-- Views? -->
    <div class = "m-item vis-sec">
      <h5>Who's viewed your profile</h5>
      <h5> Views of your posts in the feed</h5>
    </div>
    
    <!-- Education div-->
    <div class = "m-item ed-sec">
      
      <div class="new_ed_btn section-header">
        <h4>Education</h4>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to new_education_path, remote: true, class: "btn btn-default" do %>
            <i class='glyphicon glyphicon-plus'></i>
          <% end %>
        <% end %>  
      </div>      
      
      <!-- This way I don't need to instantiate an Education entry and the page will not break if user
      jumps out of user registration... -->
      <% if @educations != nil %>
        <div id="educations">
          <!-- Funny enough, this renders the education partial and makes the records from the education 
          var in the profile/show controller available to be used in the partial in the form education.column 
          Be aware that rails assumes path and partial name based on the model offered by the var -->
          <%= render @educations %>
        </div>
      <% end %>

    </div>
    
    <!--Skills div-->
    <div class = "m-item skls-sec">

      <div class="new_skl_btn skill-header-wrapper">
        <h4 class='skill-header'> Featured Skills </h4>  
        <% if user_signed_in? && current_user.id == @user.id %>
          <!-- Add/remove btns -->
          <%= link_to edit_skill_path(path: 'add_path'), remote: true, class: "btn btn-default btn-add-skill" do %>
            <!--<i class='glyphicon glyphicon-plus'></i>          -->
            <span>Add a new skill</span>
          <% end %>
          
          <%= link_to edit_skill_path, remote: true, class: "btn btn-default btn-edit-skill" do %>
            <i class='glyphicon glyphicon-pencil'></i>
          <% end %>        
        <% end %>  
      </div>   
      <!-- Array rendering -->
      <% if @skills != nil %>
        <div class= 'skill-wrapper'>
          <%= render @skills %>
        </div>
      <% end %>

    </div>
    
    <!-- Misc div -->
    <div class = "m-item acp-sec">
      <h4> Accomplishments </h4>
      <h5> Languages </h5>
      <h5> Certifications </h5>
      <h5> Projects </h5>
    </div>
    
    <!-- Interests Div -->
    <div class = "m-item intrsts-sec">
      <h4> Interests</h4>
      <h5> Bunch of stuff here... </h5>
    </div>
    
  </div>
  
  <!-- Right column -->
  <div class = "right-column">
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    
  </div>  
  

</div>