<div class = "container-parent"> 
  <!-- render modal -->
  <%= render "base_modal" %>

  <div class = "main">

    <div class = "m-item bg-section"></div>
    
    <div class = "m-item topcard">
      
      <!-- This is where the edit btn for the topcard sec is -->
      <!--<div class = "edit-topcard">-->
      <!--  <a class= "btn btn-default btn-modal" type="button" data-toggle="modal" data-target="#edit-topcard-modal" href="#">Edit</a>-->
      <!--</div>-->
      
      <%= link_to 'Edit', edit_profile_path(@user), remote: true, :class => 'btn btn-sm btn-info' %>
      
      <div class='general-info'>
        <h3 id='name-field'> <%=@user_info.first_name%> <%=@user_info.last_name%> </h3>
        <h4 id="headline-field"> <%= @user_info.headline %> </h4> 
        <h4 id="education-field"> <%= @user_info.education %> </h4> <!-- This is a select from education model options-->
        <h5 id='location-field'> <%= @user_info.country%>, <%= @user_info.state%> </h5>
      </div>
      
      <div class= "summary-container">
        <p> <%= @user_info.summary %></p>
      </div>
      
    </div>
    
    <div class = "m-item work-sec">
      
      <h4>Work Experience </h4>
      <h5> Title </h5>
      <h5> Company </h5>
      <h5>Location</h5>
      <h5>From: </h5>
      <h5>Currently work here?</h5>
      <h5> Description </h5>
      
    </div>
    
    <div class = "m-item vis-sec">
      <h5>Who's viewed your profile</h5>
      <h5> Views of your posts in the feed</h5>
    </div>
    
    <div class = "m-item ed-sec">
      
      <h4>Education</h4>
     <div class="new_ed_btn">
        <%= link_to "New Education", new_education_path, remote: true, class: "btn btn-primary" %>
      </div>      
      
      <div id="educations">
        <!-- Funny enough, this renders the education partial and makes the records from the education 
        var in the profile/show controller available to be used in the partial in the form education.column -->
        <%= render @educations %>
      </div>

    </div>
    
    <div class = "m-item skls-sec">
      <h5>Featured Skills</h5>
      <h5> List of skills </h5>
    </div>
    
    <div class = "m-item acp-sec">
      <h4> Accomplishments </h4>
      <h5> Languages </h5>
      <h5> Certifications </h5>
      <h5> Projects </h5>
    </div>
    
    <div class = "m-item intrsts-sec">
      <h4> Interests</h4>
      <h5> Bunch of stuff here... </h5>
    </div>
    
  </div>
  
  <div class = "right-column">
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    <div class= "r-item"><p>profile 2</p></div>
    
  </div>  
  

</div>