<h1> Education Form!</h1>
<!--multipart is for file upload! -->

<%= form_for @education, url: educations_path, :html => { :multipart => true } do |f| %>
  
  <!-- Associations field-->
  <%= f.hidden_field :user_id, value: @current_user_id %>   
  
  <div class= "form-group">
    <%= f.label :school, "School/University" %>
    <%= f.text_field :school, class: "form-control" %>
  </div>   
  
  <div class = "form-group">
    <%= f.label :degree %>
    <%= f.text_field :degree, class: "form-control" %>
  </div>  
  
  <div class = "form-group">
    <%= f.label :field %>
    <%= f.text_field :field, class: "form-control" %>
  </div>
  
  <div class = "form-group">
    <%= f.label :grade %>
    <%= f.text_field :grade, class: "form-control" %>
  </div>  
  
  <div class= "form-group">
    <%= f.label :start_date, "Start Date" %> 
    <%= f.date_select(:start_date, :order => [:month, :day, :year], start_year: 1960) %>
  </div>  
  
  <div class= "form-group">
    <%= f.label :end_date, "Finish Date" %> 
    <%= f.date_select(:end_date, :order => [:month, :day, :year], start_year: 1960) %>
  </div>    
  
  <div class = "form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>    
  

  <div class = "form-group">
    <%= f.submit "Add new Fossil", class: 'btn btn-primary' %>
  </div>
  
<% end %>